body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(19,19,94,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
  }

.inactive {
  display: none;
}
  
.game-container {
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
  
canvas {
  border: 4px solid #fff;
  border-radius: 8px;
  background-color: #0B3D78;
}
  
.buttons {
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

button {
  background-color: #0B3D78;
  border-radius: 8px;
  border-color: #fff;
  font-family: inherit;
  color: #fff;
  margin: 0;
  padding: 5px 20px;
  width: 100px;
  touch-action: manipulation;
}
button:not(:last-child) {
  margin-right: 10px;
}

.messages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
  max-width: 460px;
}

p {
  display: block;
  margin: 0;
  width: 100%;
}

#game-completed {
  position: absolute;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(19,19,94,1) 35%, rgba(0,212,255,1) 100%);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

#game-completed h1 {
  font-size: 24px;
  margin-top: 10%;
  margin-bottom: 50px;
}

#game-completed span {
  font-size: 48px;
  display: block;
  margin-bottom: 50px;
}

#game-completed p.result {
  font-size: 18px;
  margin-bottom: 50px;
}

#game-completed input {
  display: inline-block;
  background-color: #ff6600;
  color: #fff;
  padding: 10px 20px;
  margin-top: 150px;
  text-decoration: none;
  border-radius: 5px;
}



#game-completed a input {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
}

#game-over {
  position: absolute;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(19,19,94,1) 35%, rgba(0,212,255,1) 100%);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

#game-over h1 {
  font-size: 24px;
  margin-top: 10%;
  margin-bottom: 50px;
}

#game-over span {
  font-size: 48px;
  display: block;
  margin-bottom: 50px;
}

#game-over p.result {
  font-size: 18px;
  margin-bottom: 50px;
}


#game-over input {
  display: inline-block;
  background-color: #ff6600;
  color: #fff;
  font-size: 20px;
  margin-top: 230px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}


@media (max-width: 440px) {
  button { margin-top: 5px; }
  #up, #down { margin-left: 100%; margin-right: 100%; }
}